main {
    width: 100%;
}

.grid-container {
    width: 50vw;
    height: 50vw;

    margin: auto;
    color: #ffffff;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
    font-weight: bold;
}



.square-grid {
    background: green;
    width: 25%;
    height: 25%;
    border: 4px solid white;
    float: left;
    box-sizing: border-box;
}


.rectangle-grid {
    background: tomato;
    width: 50%;
    height: 25%;
    border: 4px solid white;
    float: right;
    box-sizing: border-box;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .grid-container {
        max-width: 300px;
    }

    .square-grid {
        width: 50%;
    }

    .rectangle-grid {
        width: 100%;
    }
}

/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .grid-container {
        max-width: 300px;
    }

    .square-grid {
        width: 50%;
    }

    .rectangle-grid {
        width: 100%;
    }
}

/* ----------- iPhone 6+ ----------- */


/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .grid-container {
        max-width: 300px;
    }

    .square-grid {
        width: 50%;
    }

    .rectangle-grid {
        width: 100%;
    }
}


/** iPad viewport for portrait**/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .grid-container {
        width: 50vw;
        height: 50vw;

        line-height: 80px;
        font-size: 20px;
    }

    .square-grid,
    .rectangle-grid {
        border: 2px;
    }
}

